#logo {
    height: 5rem;
}

#demo {
    background-color: royalblue;
    color: white;
}

.btn {
    color: royalblue;
    border: 2px solid royalblue;
    border-radius: 6px;
    padding: 10px 10px;
    margin: 10px 5px;
}

.btn:hover {
    color: white;
    background-color: royalblue;
    border: 2px solid tomato;
}

body {
    font-family: 'verdana';
}