@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato');

$website-font: Lato;
$website-color-blue: rgb(105, 178, 221);
$website-color-grey: rgb(235, 235, 235);
$linkedin-blue: rgb(0, 119, 181);

#member-row {
    font-size: .9em;
    margin-top: 2rem;

    .col-sm {
        text-align: center;

        div {
            padding: 10px 0 20px 0;
        }

        p {
            height: 4.3em;
            text-align: center;
        }

        .btn {
            background-color: $linkedin-blue;
        }

        #social {
            color: $website-color-grey;
            
            :hover {
                text-decoration: none;
            }
        }
    }
}

