/* SCSS */
/* type not anymore! sass --watch assets/stylesheets/application.scss:assets/stylesheets/application.css to align .scss with .css */
$website-font: Lato;
$website-color-blue: rgb(105, 178, 221);
$website-color-grey: rgb(235, 235, 235);
$linkedin-blue: rgb(0, 119, 181);
$blue: rgb(100, 123, 244);

$theme-colors: (
    "primary": #000000
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
    font-family: $website-font;
    background-color: $website-color-grey;
}

.navbar-top {
    background-color: white;
    padding: 10px 25px;

    .btn {
        margin: 0 10px;
        font-size: 15px;
        color: $website-color-blue;
    }

    .btn:hover {
        background-color: inherit;
        text-decoration: none;
    }

    #btn-demo {
        color: $website-color-blue;
    }
}

#welcome {
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.6)), url("../img/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: $website-color-grey;
    border-radius: 0;
    padding: 180px 0 120px 0;

    #welcome-header {
        font-size: 50px;
        padding-top: 10px;
    }

    #welcome-header-2 {
        font-size: 30px;
        padding: 20px 0;
    }

    .btn-welcome {
        background-color: $website-color-blue;
        color: $website-color-grey;
        margin: 20px;
        padding: 10px;
    }

    .btn-welcome:hover {
        background-color: $website-color-blue;
    }
}

.body-sect {
    padding: 3.5rem 6rem;
    font-size: 20px;

    h2 {
        padding: 15px 0 25px 0;
        font-size: 1.3em;
    }

    .sub-head {
        font-size: .8em;
    }

    .member-img {
        padding: 10px 0 20px 0;
    }

    .member-row {
        font-size: .9em;
        margin-top: 2rem;
    }

    .social-row {
        margin-bottom: 2rem;

        .btn {
            background-color: $linkedin-blue;

        }
    }

    #social {
        color: $website-color-grey;
    }
    
    #social:hover {
        text-decoration: none;
    }

    .navbar-bottom {
        background-color: white;
        p {
            color: $website-color-blue;
        }
    }
}

.active {
    background-color: white;
}