body {
    font-family: Quicksand;
    background-color: rgb(216, 226, 238);
}

#welcome {
    text-align: center;
    background-color: rgb(150, 181, 221);
    color: rgb(14, 44, 65);
    font-size: 2rem;
    margin: 0;
}

#site-descrip {
    text-align: center;
    border: solid 2px;
    border-color: rgb(150, 181, 221);
    padding: 20px 0;
    margin: 0;
}

#team-descrip {
    text-align: center;
    border: solid 2px;
    border-color: rgb(150, 181, 221);
    padding: 20px;
}

.navbar {
    background-color: rgb(216, 226, 238);
}

.btn-outline-primary {
    margin: 0 10px;
}

.btn-outline-primary:hover {
    background-color: rgb(150, 181, 221);
}

#social {
    color: white;
}

#social:hover {
    text-decoration: none;
}